<a href="https://colab.research.google.com/github/tbeucler/2022_Intro_Python/blob/main/Week1_0_Variables_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Introduction**
In this first notebook, we will introduce the basic building blocks of the Python language and try to execute some codes.

Python has following 6 built-in Data-Types:
</h4>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th>Examples</th>
  </tr>
  <tr>
    <td><strong>int</font></td>
    <td>Integer</td>
    <td>123</td>
  </tr>
  <tr>
    <td><strong>float</font></td>
    <td>Floating point</td>
    <td>10.12</td>
  </tr>
  <tr>
    <td><strong>complex</font></td>
    <td>Complex values</td>
    <td>1.0+3j</td>
  </tr>
  <tr>
    <td><strong>bool</font></td>
    <td>Boolean values</td>
    <td>True</td>
  </tr>
  <tr>
    <td><strong>string</font></td>
    <td>String values</td>
    <td>'Bonjour'</td>
  </tr>
  <tr>
    <td><strong>NoneType</font></td>
    <td>None value</td>
    <td>None</td>
  </tr>
</table>

</body>
</html>

Python has four data structures:
</h4>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th>Examples</th>
  </tr>
  <tr>
    <td><strong>list</font></td>
    <td>Ordered collection of values</td>
    <td>[1, 'abc', 3, 1]</td>
  </tr>
  <tr>
    <td><strong>set</font></td>
    <td>Unordered collection of unique values</td>
    <td>{1, 'abc', 3}</td>
  </tr>
  <tr>
    <td><strong>tuple</font></td>
    <td>Immutable Ordered collection</td>
    <td>(1, 'abc', 3)</td>
  </tr>
</table>

</body>
</html>

Reference:
*  CUSP UCSL bootcamp 2017 (https://github.com/Mohitsharma44/ucsl17)

## Basic Variables: Numbers and Strings
The main difference between Python and languages like C++ and Fortran is that Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when a value is assigned to a variable. This means that a variable that was used to store a string can also be used to store an integer/array/list etc.

**Rules of naming a variable**

The start of the character can be an underscore _ or a capital or lowercase letter. However, it is generally recommended to use all uppercase for global variables and all lower case for local variables. The letters following the first letter can be a digit or a string. Python is a case-sensitive language. Therefore, **var** is not equal to **VAR** or **vAr**.

Apart from the above restrictions, Python keywords cannot be used as identifier names. These are:

||||||
|:-------|:--------|:---------|:--------|:----|
|and     |del      |from      |not      |while|
|as      | elif    |global    |or       |with |
|assert  | else    | if       |pass     |yield|
|break   | except  | import   |print
|class   | exec    | in       |raise
|continue| finally | is       |return 
|def     | for     | lambda   |try

Additionally, the following a built in functions which are always available in your namespace once you open a Python interpreter

```
abs() dict() help() min() setattr() all() dir() hex() next() slice() any()
divmod() id() object() sorted() ascii() enumerate() input() oct() staticmethod()
bin() eval() int() open() str() bool() exec() isinstance() ord() sum() bytearray()
filter() issubclass() pow() super() bytes() float() iter() print() tuple()
callable() format() len() property() type() chr() frozenset() list() range()
vars() classmethod() getattr() locals() repr() zip() compile() globals() map()
reversed() __import__() complex() hasattr() max() round() delattr() hash()
memoryview() set()
```

In [1]:
# Basic Variables: Numbers and Strings
# comments are anything that comes after the "#" symbol
a = 1       # assign 1 to variable a
b = "hello" # assign "hello" to variable b

All variables are objects. Every object has a type (class). To find out what type your variables are.

In [2]:
print(type(a), type(b))

<class 'int'> <class 'str'>

In [3]:
# we can check for the type of an object
print(type(a) is int)
print(type(a) is str)

True
False

We can also define multiple variables simultaneously

In [5]:
var1,var2,var3,var4 = 'Hello', 'World', 1, 2
print(var1,var2,var3,var4)

Hello World 1 2

#### **String**
We now focus on strings a bit. We will discuss


1.   String concatenation
2.   String indexing
3.   String slicing
4.   String formatting
5.   Built-in String Methods

In [9]:
# String concatenation
text1,text2,text3,text4 = 'Introduction','to','Python','course'
print(text1+text2+text3+text4)

IntroductiontoPythoncourse

In [10]:
#@title #####Can you figure out a way to add spaces between the words?
print(text1+' '+text2+' '+text3+' '+text4)

Introduction to Python course

Characters in a string can be accessed using the standard [ ] syntax. Python uses zero-based indexing which means that first character in a string will be indexed at 0th location.

In [15]:
# String indexing
print(text1[0],text1[5],text1[-1],text1[-7])

I d n d

In [19]:
# String slicing
print(text1[:5],text1[-5:],text1[:5]+text3[0:2])

Intro ction IntroPy

In [4]:
# String formatting
#f strings allow you to format data easily, but require Python >= 3.6
print(f'The a variable has type {type(a)} and value {a}')
print(f'The b variable has type {type(b)} and value {b}')

The a variable has type <class 'int'> and value 1
The b variable has type <class 'str'> and value hello

Different objects attributes and methods, which can be accessed via the syntax `variable.method`

IPython will autocomplete if you press `<tab>` to show you the methods available. If you're using Google Colab, you can do the same with `<ctrl> + <space>`

In [6]:
# this returns the method itself
b.capitalize

In [7]:
# this calls the method
b.capitalize()
# there are lots of other methods

'Hello'

#### **Math Operators**
We now focus on using Python to perform mathematical operations.

In [21]:
# Addition/Subtraction (Remember var3=1,var4=2)
print(var3+var4,var3-var4)

3 -1

In [22]:
# Multiplication
print(var3*var4)

2

In [23]:
# Division
print(var3/var4,type(var3/var4))

0.5 <class 'float'>

In [25]:
# exponentiation
print(var4**(var3+2))

8

In [26]:
# Modulus
7 % 2

1

In [27]:
# rounding
round(9/10)

1

#### **Relational Operators**

In [28]:
# Equal to (==)
a, b = 10, 10
a==b

True

In [29]:
# Not Equal to (!=)
print(a!=b, 6!=2)

False True

In [30]:
# Greater than (>) & Less than (<)
print(6>2, 2<6)

True True

#### **Assignment Operators**

In [32]:
# Add AND (+=) [equivalent to var=var+10]
a = 10
a+=10
print(a)

20

In [34]:
# Multiplication AND
a = 10
a*=5
print(10*5,a)

50 50

#### **Logical Operators**

In [35]:
print(True and True, True and False, True or False, (not True) or (not False))

True False True True

In [36]:
a, b = 'Hello','Bye'
print(a is b, a is not b)

False True